@import '../../../assets/font/font.css';

main {
  width: 390px;
  min-width: 390px;
  margin: 48px auto 60px;
  background-color: #ffffff;
}

.email-header {
  margin: 0.5rem auto 2rem;
  font-size: 1.5rem;
  text-align: center;
}

/* input 스타일 */
.input-wrapper {
  margin-bottom: 2.5rem;
}

.input-title {
  font-size: 0.875rem;
  color: #767676;
  display: block;
  text-align: left;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  /* padding: 0; */
  outline: none;
  margin-top: 0.625rem;
}
.input:focus-within {
  border-bottom: 1px solid var(--main-color);
}

.input[aria-invalid='true'] {
  border-bottom-color: red; /* 에러가 발생한 경우 빨간색으로 변경 */
}

.input::placeholder,
.PwInput::placeholder {
  color: #dbdbdb;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.submit-btn {
  width: 100%;
  height: 44px;
  background-color: var(--sub-color-2);
  /* background-color: #7d4b0f; */
  border-radius: 30px;
  color: #fff;
}

.submit-btn-active {
  background-color: var(--main-color);
}
