@import '../../styles/reset.css';
@import '../../assets/font/font.css';

body {
  width: 390px;
  height: 844px;
  /* border: 1px solid red; */
  font-family: 'Pretendard-Regular';;
}
/* 종미님 헤더 연결하면 아래의 header, header::after지우기</header>*/
header {
  width: 100%;
  height: 48px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  font-size: 14px;
  text-indent: 48px;
  position: relative;
}
header::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%); 
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-arrow-left.svg) no-repeat center;
}
.followers {
  width: 358px;
  height: 50px;
  /* border: 1px solid green; */
  margin: 24px 16px 16px 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}
.followers-photo {
  width: 48.81px;
  height: 48.81px;
  /* border: 1px solid orange; */
  background: url(../../assets/images/profile-img42.png)no-repeat center center;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  gap: 0;
}
.followers-inner {
  width: 228px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.followers-name {
  font-size: 14px;
  font-weight: 700;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.followers-info {
  font-size: 12px;
  color: #767676;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.followers-btn-follow {
  width: 56px;
  height: 28px;
  border-radius: 26px;
  background-color: #7D4B0F ;
  color: #FFF;
  font-size: 12px;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.followers-btn-unfollow {
  width: 56px;
  height: 28px;
  border: 1px solid #DBDBDB;
  border-radius: 26px;
  background-color: #FFF ;
  color: #767676;
  font-size: 12px;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}