@import '../../styles/reset.css';
@import '../../styles/global.css';
@import '../../assets/font/font.css';

body {
  font-family: 'Pretendard';
  color: #C4C4C4;
  text-align: center;  
}

.product {
  width: 390px;
  height: 208px;
  text-align: left;
  padding: 21px 0 20px 16px;

  box-shadow: inset 0 0 10px red;
  
}
.product-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 16px;
}

.product-list {
  display: flex;
  gap: 10px;
  overflow-x:scroll;
}
.product-list::-webkit-scrollbar {
  display: none;
}

.product-item {
  background-color: #fff;
  width: 140px;
  height: 132px;
}
.product-img-container {
  width: 140px;
  height: 90px;
  border-radius: 8px;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 0.5px solid #DBDBDB;
  border-radius: 8px;
}
.product-name {
  margin: 7px 0 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.product-price {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #7D4B0F;
}
