@import '../../assets/font/font.css';

.splash {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #C4C4C4;
  text-align: center;
  background-color: var(--bg-color);  
  animation: fadeout 1.3s;
  margin: 0 auto;
}
.splash-logo {
  width: 200px;
  height: 200px;
  margin: auto 0;
}
.splash-logo img {
  width: 100%;
  vertical-align: top;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}