@import '../../../styles/reset.css';
@import '../../../styles/global.css';

header {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
}

.header-wrap {
    width: 390px;
    height: 48px;
    max-width: calc(100% - 60px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dbdbdb;
}

.btn-more,
.btn-back {
    background: none;
}

.btn-back {
    margin-left: 16px;
}

.btn-more {
    margin-right: 12px;
}
