@import '../../styles/global.css';
@import '../../styles/reset.css';

.ProductWrapper {
  background-color: #fff;
}
.ProductMain {
  height: 100vh;
  min-width: 500px;
}
.ProductHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #767676;
  padding: 10px 15px;
}

.ProductArrow {
  width: 2.5rem;
}

.BackIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProductBtn {
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  /* background-color: #dccebf; */
  background-color: #7d4b0f;
  /* 활성화 시 컬러 */
  color: #fff;
}

.ProductBody {
  padding: 50px;
}
.ProductImageBox {
  font-size: 0.8rem;
  color: #767676;
  position: relative;
}

.ProductImageBox ::after {
  content: '';
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-image: url(../../assets/images/img-button-grey.png);
  background-repeat: no-repeat;
}
.fileLabel {
  margin-top: 1rem;
  display: block;
  text-align: center;
  padding: 9rem;
  border-radius: 15px;
  background-color: #dbdbdb;
  /* background-image: url(../../assets/images/눈물.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 2 / 1;
}

.fileInput {
  display: none;
}

.ProductTitle {
  height: 48px;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  border-bottom: 1px solid #767676;
}

.ProductTitleInput {
  border: none;
  margin-top: 10px;
  width: 100%;
  outline: none;
}

.ProductTitleInput::placeholder {
  color: rgba(118, 118, 118, 0.5);
}
