/* 포스트 */
.feed {
  background-color: #ffffff;
  padding: 30px 16px;
}
.post {
  background-color: #ffffff;
  padding: 20px 16px;
}
.profile {
  background-color: #ffffff;
}
.btn-group {
  text-align: right;
  padding: 9px 21px;
  border-bottom: 0.5px solid #DBDBDB;
}
.btn-group button {
  background: transparent;
  margin-left: 15px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile .post-list { 
  padding: 16px
}