@import '../../../assets/font/font.css';

.user-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 21px 0 26px;
}

.user-profile-cover {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  margin: 23px 0 24px;
}

.user-profile-name {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.user-profile-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
  margin: 9px 0 24px;
}

.user-profile-intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #767676;
}

.btn-followers,
.following-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: transparent;
  position: absolute;
}
.btn-followers {
  top: 76px;
  left: 21px;
}
.following-area {
  top: 76px;
  right: 21px;
}

.btn-followers .followers,
.following-area .followings {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #767676;
}
.btn-followers .followers-number,
.following-area .followings-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.following-area .followings-number {
  color: #767676;
}

.button-container {
  display: flex;
  gap: 10px;
}
.button-container a {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 30px;
  padding: 9px 21px 8px;
}