@import '../../styles/global.css';
@import '../../assets/font/font.css';

.title-wrap {
  width: 100%;
  padding: 17px 0px 15px 0px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  text-indent: 16px;
}
.title-wrap::before {
  content: '';
  width: 42px;
  height: 42px;
  margin-left: 16px;
  background: url(../../assets/images/profile-img42.png) no-repeat center;
  background-size: cover;
}
.title-user-input {
  border: none;
  width:100px;
  outline: none;
  text-align: left;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  color:var(--main-color);
  cursor: auto;
}
.title-img {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}
.title-inner {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
/* text입력박스 */
.text-box {
  width: 90%;
  margin: 17px 15px 33px 16px;
  border: none;
  resize: none;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  position: relative;
}
.text-box::placeholder {
  color : #D9D9D9;
}
.text-box:focus {
  outline: none;
}
.text-count {
  color: #D9D9D9;
  font-size: 14px;
  text-align: right;
  padding: 0px 10px 10px 0px;
}
/* 메뉴,인원,날짜,장소 */
.item-all {
  width: 100%; 
  font-size: 14px;
  text-indent: 6px;
  color: #000;
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  padding: 17px 20px 19px 16px;
  list-style: none;
}
.item-img {
  margin-left:7px;
}
.item-menu::before{
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/menu-icon-24.svg) no-repeat center;
  background-size: cover;
}
.title-user-input-menu {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: auto;
}
.item-input-text {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: auto;
}
.item-input-date {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: pointer;
}
.item-input-date::placeholder {
  color : #D9D9D9;
}
.item-people::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-user-fill-24.svg) no-repeat center;
  background-size: cover;
}
.item-date::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-calendar-24.svg) no-repeat center;
  background-size: cover;
}
.item-place::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/map-24.svg) no-repeat center;
  background-size: cover;
}
.item-input {
  margin-left: auto;
  margin-right: 5px;
  color: #D9D9D9;
}
.item-place {
  margin-bottom: 17px;
  border-bottom: 1px solid #D9D9D9;
}
/* 인원추가삭제버튼 */
.btn-people {
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
}
.people-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}
.btn-people-num {
  width: 30px;
  border: none;
  outline: none;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: auto;
  margin-left: 10px;
  }
.btn-people-num::placeholder {
  color : #D9D9D9;
  }
.minus {
  background: url(../../assets/images/minus.svg) center;
}
.minus:active {
  background: url(../../assets/images/minus-active.svg) center;
}
.plus {
  background: url(../../assets/images/plus.svg) center;
}
.plus:active {
  background: url(../../assets/images/plus-active.svg) center;
}
/* 올린 사진 */
.photo {
  display: flex;
  overflow-x: auto;
  width: 100%;
  /* height: 40%; */
  position: relative;
  justify-content: flex-end; 

}
.photo-item {
  position: relative;
  width: 40%;
  margin-left: 20px;
  margin-right: 3px;
}
.photo-img {
  position: relative;
  justify-content: flex-end;
}
/* 올린 사진 삭제버튼 */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../../assets/images/x.svg) no-repeat;
}
/* 사진 첨부 버튼 */
.btn-photo {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  margin-right: 16px;
  bottom: 23px;
  right: 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  z-index: 9900;
}
/* 사진 첨부(파일형식) */
.btn-photo-input[type="file"] {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* 사진 첨부 라벨(파일형식) */
.btn-photo-label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/upload-file.png);
  z-index: 9900;
  background-size: cover;
  cursor: pointer;
}
/* 화살표 이미지, 멘트 이미지 정렬 */
.upload-photo::before,
.upload-photo::after {
  position: absolute;
  z-index: 9900;
}
/* 이미지:먹고 싶은 사진을 같이 올려보세요*/
.upload-photo::before {
  content: '';
  width: 229px;
  height: 28px;
  bottom: 10px;
  right: 120px;
  margin-top: 20px;
  background: url(../../assets/images/upload-text.png) no-repeat;
}
/* 이미지:화살표 */
.upload-photo::after {
  content: '';
  width: 50px;
  height: 16.22px;
  bottom: 46.4px;
  right: 70.67px;
  transform: rotate(-15deg);
  background: url(../../assets/images/arrow.svg) no-repeat;
}