@import '../../styles/global.css';
@import '../../assets/font/font.css';
.body-wrap {
  position: relative;
  z-index: 100;
}
.title-wrap {
  width: 90%;
  padding: 17px 0px 15px 0px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  text-indent: 12px;
  font-weight: 600;
  margin: 0 5% 0 5%;
}
.title-wrap::before {
  content: '';
  width: 42px;
  height: 42px;
  margin-left: 16px;
  background: url(../../assets/images/profile-img42.png) no-repeat center;
  background-size: cover;
}
.title-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title-user {
  width: 10px;
  border: none;
  outline: none;
  text-align:center;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  font-weight: 600;
  color:var(--main-color);
  cursor: auto;
}
.title-user-default {
  border: none;
  outline: none;
  margin-left: 10px;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  font-weight: 600;
  cursor: none;
}
.title-img {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}
.title-inner {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
/* text입력박스 */
.text-box {
  width: 90%;
  margin: 17px 15px 33px 16px;
  border: none;
  resize: none;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  position: relative;
}
.text-box::placeholder {
  color : #D9D9D9;
}
.text-box:focus {
  outline: none;
}
.text-count {
  color: #D9D9D9;
  font-size: 14px;
  text-align: right;
  margin-right: 20px;
  padding: 0px 10px 10px 0px;
}
/* 메뉴,인원,날짜,장소 */
.item-all {
  width: 90%; 
  font-size: 14px;
  text-indent: 6px;
  color: #000;
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  padding: 17px 20px 19px 16px;
  margin: 0 5% 0 5%;
  list-style: none;
}
.item-img {
  margin-left:7px;
}
.item-menu::before{
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/menu-icon-24.svg) no-repeat center;
  background-size: cover;
}
.title-user-input-menu {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  width: 90px;
  color:var(--main-color);
  cursor: auto;
  position: relative;
  z-index: 100;
}
.item-input-text {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: auto;
}
.item-input-text::placeholder{
  color: #D9D9D9;
}
.item-input-date {
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color:var(--main-color);
  cursor: pointer;
}
.item-input-date::placeholder {
  color : #D9D9D9;
}
.item-people::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-user-fill-24.svg) no-repeat center;
  background-size: cover;
}
.item-date::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-calendar-24.svg) no-repeat center;
  background-size: cover;
}
.item-place::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../assets/images/map-24.svg) no-repeat center;
  background-size: cover;
}
.item-input {
  margin-left: auto;
  margin-right: 5px;
  color: #D9D9D9;
}
.item-place {
  margin-bottom: 17px;
  border-bottom: 1px solid #D9D9D9;
}
/* 인원추가삭제버튼 */
.btn-people {
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
}
.people-wrap {
  display: flex;
  align-items: center;
}
.minus, 
.plus {
  background-color: #fff;
}
/* 인원표시 */
.btn-people-num {
  width: 40px;
  border: none;
  outline: none;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  cursor: auto;
  margin-left: 10px;
}
.input-filled {
  color: var(--main-color);
}
.input-blur {
  color: #D9D9D9;
}
/* 올린 사진 */
.photo {
  display: flex;
  overflow-x: auto;
  width: 100%;
 position: relative;
  justify-content: flex-end; 
}
.photo-item {
  position: relative;
  width: 40%;
  margin: 0 2px;
}
.photo-img {
  position: relative;
  justify-content: flex-end;
  border-radius: 10px;
}
/* 올린 사진 삭제버튼 */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../../assets/images/x.svg) no-repeat;
}
/* 사진 첨부 버튼 */
.btn-photo {
  position: fixed;
  width: 50px;
  height: 50px;
  margin-top: -40px;
  margin-bottom: 16px;
  /* left: 45%; */
  transform: translateX(550%);
  overflow: hidden;
}
/* 사진 첨부(파일형식) */
.btn-photo-input[type="file"] {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  margin-right: 16px;
  left: 45%;
  opacity: 0;
  cursor: pointer;

}
/* 사진 첨부 라벨(파일형식) */
.btn-photo-label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/upload-file.png);
  background-size: cover;
  cursor: pointer;

}
/* 화살표 이미지, 멘트 이미지 정렬 */
.upload-photo,
.upload-photo::after {
  position: fixed;
}
/* 이미지:먹고 싶은 사진을 같이 올려보세요 */
.upload-photo {
  width: 229px;
  height: 28px;
  margin-top: 40px;
  margin-left: 50px;
  background: url(../../assets/images/upload-text.png) no-repeat;
}

/* 이미지:화살표 */
.upload-photo::after {
  content: '';
  position: fixed;
  width: 50px;
  height: 16.22px;
  margin-top: -20px;
  margin-left: 100px;
  transform: translateX(0%);
  background: url(../../assets/images/arrow.svg) no-repeat;
}
/*반응형 스타일 */
@media (max-width: 389px) {
  .upload-photo::after {
    margin: -30px 0 0 -45px;
    transform: rotate(-20deg);
  }

  .btn-photo {
    transform: translateX(270%) translateY(-50%);
  }

  .upload-photo{
    margin: 80px 0 0 calc(100% - 80%);
  }
}